:root {
    --off-white: #f9f1f1;
    --pastel-gold: #ffefdb;
    --gold: #ffab43;
    --navy-blue: #284268;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--off-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    height: 100dvh;
    width: auto;
}

a {
    text-decoration: none;
}

/* index.html */

#index {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#index .card {
    background-color: var(--pastel-gold);
    padding: 24px 48px;
    border: 3px dashed 	var(--gold);
    border-radius: 24px;
}

#index h1 {
    font-size: 52px;
    margin-bottom: 24px;
    color: var(--navy-blue);
}

#index hr {
    border-top: 3px solid var(--gold);
    margin-bottom: 24px;

}

#index ul {
    list-style-type: none;
    line-height: 2.5;
    font-size: 24px;
    margin-bottom: 24px;
}

#index a {
    color: var(--navy-blue);
}

#index a:hover {
    color: var(--gold);
}

#index img {
    width: 300px;
}


